# Byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
# Django stuff:
logs
*.log
*.log.json
local_settings.py
db.sqlite3
db.sqlite3-journal
# Custom
*.env
env
*.vim
test.sh
*.pem
