# Postgres Config
PG_HOST="127.0.0.1"
PG_PORT=5936
DB_PORT=5432
PG_USER="admin"
PG_DB="django_db"
PG_CONTAINER_NAME="django_db"
PG_PASS="postgres"

# Redis Config
REDIS_HOST="127.0.0.1"
REDIS_PORT=6380
CACHE_PORT=6379
REDIS_PASS="redis"

# OAuth Credentials
SOCIAL_AUTH_GOOGLE_OAUTH2_CLIENT_ID=""
SOCIAL_AUTH_GOOGLE_OAUTH2_CLIENT_SECRET=""
SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI=""

# AWS S3 Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Email Credentials
DEFAULT_FROM_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Email Security Settings
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
# NOTE: Use this in prod:
#  EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
# NOTE: Set to 'True' in prod
EMAIL_USE_TLS='False'
