# Postgres Config
PG_HOST="127.0.0.1"
PG_PORT=5936
DB_PORT=5432
PG_USER="admin"
PG_DB="django_db"
PG_CONTAINER_NAME="django_db"
PG_PASS="postgres"

# OAuth Credentials
SOCIAL_AUTH_GOOGLE_OAUTH2_CLIENT_ID=""
SOCIAL_AUTH_GOOGLE_OAUTH2_CLIENT_SECRET=""
SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI=""
